<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.languageapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LanguageApp">
        <activity
            android:name=".CatagoryActivity"
            android:exported="false"
            android:label="@string/Catagory"></activity>
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Homeactivity"
            tools:ignore="LockedOrientationActivity"> <!-- screeoriantation portrait yan döndürmeyi engelliyor bu kod neye yarıyor anlamadım tam olarak -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"></activity>
    </application>

</manifest>